@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #12131f;
  --secondary-color: #22243a;
  --tertiary-color: #2b2d45;
  --accent-color: #2bc3c8;
  --accent-color-hover: #45eaf0;
  --text-color: #ececec;
}

* {
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.666vw;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 3vw;
  }
}
