@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f6f6f6;
  --tertiary-color: #eeeeee;
  --accent-color: #333575;
  --accent-color-hover: #5a5db2;
  --text-color: #333333;
  --code-text-color: #d33033;
}

* {
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 2.25vw;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 3.5vw;
  }
}
