@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #14b4ac;

  --color: #333333;
  --background-color: #f1f1f1;

  --border-color: #ddd;
  --button-background-color: #ededed;

  --code-background-color: #e5e5e5;
  --code-color: #f75d10;

  &.dark-mode {
    --accent-color: #09ece1;

    --color: #ececec;
    --background-color: #12131f;

    --border-color: #2b2d45;
    --button-background-color: #22243a;

    --code-background-color: #24292e;
    --code-color: #f75d10;
  }
}

html,
body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  color: var(--color);
  outline: none;
}
.ͼ15,
.ͼo,
.md-editor-resize-operate,
.custom-preview {
  background-color: transparent !important;
}

.cm-scroller {
  background-color: transparent !important;
  padding-right: 0 !important;
}

.custom-preview.detail .md-editor-preview-wrapper {
  padding: 0 !important;
}

.md-editor-preview {
  color: var(--color) !important;
  line-height: 1.8 !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color) !important;
    border-bottom: none !important;
    margin-top: 1em !important;
    padding-bottom: 0 !important;
  }

  hr {
    margin: 20px 0 !important;
  }

  :not(pre) > code {
    font-size: 0.85em !important;
    word-break: keep-all;
    border-radius: 0.2em !important;
    margin-right: 0.15em !important;
    background-color: var(--code-background-color) !important;
    color: var(--code-color) !important;
  }

  .md-editor-code-lang,
  .md-editor-copy-button {
    color: #fff !important;
  }
  .md-editor-collapse-tips svg {
    fill: #fff !important;
  }
}
