@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #e47575;
  --color-primary: #333333;
  --color-secondary: #ececec;
  --bg-primary-hover: #f0f0f0;
  --border-color: #dddddd;
  --button-bg: #f0f0f0;

  background-color: #f5f5f5;
  color: var(--color-primary);

  &.dark-mode {
    --brand-color: #09ece1;
    --border-color: #2b2d45;
    --button-bg: #22243a;

    background-color: #12131f;
    color: var(--color-secondary);
  }
}

main {
  padding-bottom: 5vmin;
}

input,
a,
button {
  outline: none;
}
