@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #14b4ac;

  --color: #333333;
  --background-color: #f1f1f1;

  --border-color: #ddd;
  --button-background-color: #eee;

  &.dark-mode {
    --accent-color: #09ece1;

    --color: #ececec;
    --background-color: #12131f;

    --border-color: #2b2d45;
    --button-background-color: #22243a;
  }
}

html,
body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  color: var(--color);
  outline: none;
}
.ͼ15,
.ͼo,
.md-editor-resize-operate,
.custom-preview {
  background-color: transparent !important;
}

.cm-scroller {
  background-color: transparent !important;
  padding-right: 0 !important;
}

.custom-preview.detail .md-editor-preview-wrapper {
  padding: 0 !important;
}

.md-editor-preview {
  line-height: 1.8 !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: none !important;
  }

  hr {
    margin: 20px 0 !important;
  }
}
